doctype 5
html
   head
      link(rel="shortcut icon", href="/favicon.ico")

      title
         block title
            | express-starter

      block styles
         != css("skin")
         != css("pages/info")

      block scripts
         != js("lib/jquery")
         != js("skin")

   - var viewDir = locals.root + "/";
   - var view = locals.filename.replace(viewDir, "").replace(".jade", "");
   - var viewClass = view.replace(/\//g, "-");
   body(class=viewClass)
      block body