doctype 5
html
   head
      title
         block title
            | express-starter

      block styles
         != css("skin")
         != css("pages/info")
         link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Overlock")

   body(class=bodyClass)
      block body

      block scripts
         != js("lib/jquery")
         != js("skin")