body.info-about
   ol
      margin: 0
      padding: 0 0 0 1.5em

      li
         list-style-type: none

         .description
            display: inline
            margin-left: 1em

            font-size: 0.8em
            color: #888