html
   border-top: 6px #8CC84B solid

body
   margin: 0 auto
   padding: 1em
   max-width: 40em

   font-family: 'Overlock', 'Helvetica Neue', Helvetica, Arial, sans-serif
   line-height: 1.4em

p
   margin: 0 0 1.4em 0

h1
   margin: 1em 0 0 0

   font-size: 3em
   font-weight: normal
   line-height: 1.5em

h2
   margin: 1em 0 0 0

   font-size: 2em
   font-weight: normal
   line-height: 1.5em